/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings */
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
}
